h1 {
  color: #0d0d0d;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  font-weight: 200;
  top: 20px;
  align: center;
  margin-left: auto;
  text-align: right;
  margin-right: auto;
 }

.observablehq#selector form div {
  text-align: center;
}
.observablehq#graph  {
  width:85%;
  margin-left:7.5%;
}

 h2 { color: #0d0d0d;
   /* font-family: 'Open Sans', sans-serif; */
   font-size: 20px;
   font-weight: 200;
   top: 20px;
   align: center;
   margin-left: auto;
   text-align: right;
   margin-right: auto;
  }

h3 {
  color: #0d0d0d;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 15px;
  font-weight: 400;
  /* line-height: 40px; */
  text-align: right;
  padding-top: 30px;
}


h4 {
  color: #0d0d0d;
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 17px;
    font-weight: 200;
    top: 20px;
    align: center;
    margin-left: auto;
    text-align: right;
    margin-right: auto;
}

p {
  color: #292929;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #FEFEFE;
  font-size: 13px;
  font-weight: 200;
  top: 20px;
  align: center;
  margin-left: auto;
  text-align: right;
  margin-right: 2%;
}

div {
  text-align: right;
}

a {
  color: #909090;
}

a:visited {
  color: #909090;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: gray;
  color: #fff;
  text-align: center;
  padding: 5px 5px 5px;
  border-radius: 6px;

  position:absolute;
}

/* Show the tooltip text when you mouse over the tooltip container */
.headerWithTooltip:hover .tooltiptext {
  visibility: visible;
}
